body{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#new-lobby-btn-container {
 margin: 10px 20px;
}

#new-lobby-btn {
  width: 100%;
}

#fav-list-container {
  margin-bottom: 10px;
}

.list-container {
  margin: 0px 20px;
}

.action-btn-container{
  float: right
}

.player-counter{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;

  color: #6c757d;
  border-color: #6c757d;

  margin-right: 5px;
  width: 72px;
  height: 31px;
}

.label-game-started{
  color: red;
}

.lobby-details{
  margin-top: 10px;
}
.btn-lobby-details{
  height: 31px;
  width: 31px;
  padding: 0;
}
