<html lang="en">
  <head>
    <meta charset="UFT-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
    <title> BTC Dispatcher - About</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">BCT Dispatcher</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about">About <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class=container>
      <div class="row">
        <div class="col-md-6 col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Blood On The Clocktower</h5>
              <h6 class="card-subtitle mb-2 text-muted"> by Steven Medway and published by The Pandemonium Institute</h6>
              <p class="card-text">BTC Dispatcher is a helper web app for the social-deception game Blood on The Clocktower.</p>
              <a href="https://bloodontheclocktower.com/buy" target="_blank" class="card-link">Buy</a>
              <a href="https://www.kickstarter.com/projects/pandemoniuminstitute/blood-on-the-clocktower" target="_blank" class="card-link">Kickstarter</a>
              <!-- </br> -->
              <a href="https://boardgamegeek.com/boardgame/240980/blood-clocktower" target="_blank" class="card-link">BGG</a>
              <a href="https://drive.google.com/file/d/1J7_VjHTGA4vFABfa0HzRYnZ_uw8vEl80/view" target="_blank" class="card-link">Manual</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">BCT Dispatcher</h5>
              <h6 class="card-subtitle mb-2 text-muted">by Eduardo Aguilar</h6>
              <p class="card-text">BCT Dispatcher is a web app project made as part of the course "Proyecto de desarrollo Web" int ITESM.</p>
              <a href="https://docs.google.com/document/d/1A2x4KnalZm_2ARt21ldn1aq4x07RfKLezsPBvQrP30E/edit?usp=sharing" target="_blank" class="card-link">Requirements</a>
              <a href="https://tec.mx/" target="_blank" class="card-link">ITESM</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
  </body>
</html>
